<div><img src="../img/modules/bletool.png" width="100"   >
 &nbsp;&nbsp;<a class="btn btn-default" href="?data_source=<#DATA_SOURCE#>&view_mode=discover&tab=indata">SEARCH</a>
<!-- &nbsp;&nbsp;<a class="btn btn-default" href="?data_source=<#DATA_SOURCE#>&view_mode=pingall&tab=indata">PINGALL</a> -->
 &nbsp;&nbsp;<a class="btn btn-default" href="?data_source=<#DATA_SOURCE#>&view_mode=clearall&tab=indata">CLEAR</a>

&nbsp;&nbsp;&nbsp;&nbsp;	
	[#if CYCLERUN==1#]
		<span class="label label-success" title="Статус цикла">Цикл запущен</span>
	[#else#]
		<span class="label label-danger" title="Статус цикла">Цикл остановлен</span>
	[#endif#]


</div>
<br>


[#if VIEW_MODE=""#]
	 
	 <ul class="nav nav-tabs">

<li [#if TAB=="" || TAB=="indata" #] class="active" [#endif#]><a href="?data_source=<#DATA_SOURCE#>&view_mode=&id=<#ID#>&tab=indata">BLE_Devices</a> </li>
<li [#if TAB=="debug" #] class="active" [#endif#]><a href="?view_mode=<#VIEW_MODE#>&tab=debug">Debug</a> </li>		 
<li [#if TAB=="info" #] class="active" [#endif#]><a href="?view_mode=<#VIEW_MODE#>&tab=info">Info</a> </li>		 
<li [#if TAB=="help" #] class="active" [#endif#]><a href="?view_mode=<#VIEW_MODE#>&tab=help">Помощь</a> </li>	
	
</ul>



[#if TAB=""|| TAB=="indata" #] [#inc list.html#]  [#endif#]
[#if TAB="debug"#] 
<div>
[#DEBUG#]

</div>
[#endif#]

[#if TAB="info"#] [#inc info.html#] [#endif#]
[#if TAB="help"#] [#inc help.html#] [#endif#]

[#endif#]


[#if VIEW_MODE="edit_devices"#]

   
      [#if TITLE!=""#]<h4>[#TITLE#]</h4>[#endif TITLE#]
      <ul class="nav nav-tabs">

         <li [#if TAB=="" || TAB=="infoedit" #] class="active"[#endif#]>
            <a href="?data_source=<#DATA_SOURCE#>&view_mode=edit_devices&id=<#ID#>&tab=infoedit"><#LANG_GENERAL#></a>
         </li>

         <li [#if TAB="services"#] class="active"[#endif#]>
            <a href="?data_source=<#DATA_SOURCE#>&view_mode=edit_devices&id=<#ID#>&tab=services">Services</a>
         </li>

         <li [#if TAB="handles"#] class="active"[#endif#]>
            <a href="?data_source=<#DATA_SOURCE#>&view_mode=edit_devices&id=<#ID#>&tab=handles">Services</a>
         </li>


         <li [#if TAB="data"#] class="active"[#endif#]>
            <a href="?data_source=<#DATA_SOURCE#>&view_mode=edit_devices&id=<#ID#>&tab=data"><#LANG_DATA#></a>
         </li>
      </ul>
      &nbsp;
      <br/>


   

   [#if TAB=="" ||TAB="infoedit" ||TAB="indata"#]
   [#inc devices_edit_default.html#]
   [#endif TAB#]


   [#if TAB="services"#]
   [#inc devices_edit_services.html#]
   [#endif TAB#]

   [#if TAB="handles"#]
   [#inc devices_edit_handles.html#]
   [#endif TAB#]

   
   [#if TAB="data"#]
      [#inc devices_edit_data.html#]
   [#endif TAB#]


[#endif VIEW_MODE#]
