<link rel="stylesheet" href="../templates/xiaomimiio/css/bootstrap-select.min.css">

<form action="?" method="post" enctype="multipart/form-data" name="frmEdit" class="form-horizontal">
	[#if OK#]
	<div class="alert alert-success"><#LANG_DATA_SAVED#></div>
	[#endif OK#]
	
	[#if ERR#]
	<div class="alert alert-error"><#LANG_FILLOUT_REQURED#></div>
	[#endif ERR#]
<table width="100%"><tr><td>	
	<fieldset>



		<div class="form-group">
			<label class="col-lg-3 control-label">
			 ID:
			</label>
			<div class="col-lg-4">[#ID#]</div>
		</div>



		<div class="form-group">
			<label class="col-lg-3 control-label">
				<#LANG_TITLE#> (*):
			</label>
			<div class="col-lg-4"><input type="text" class="form-control" name="title" value="[#TITLE#]" id="title"></div>
		</div>



		<div class="form-group">
			<label class="col-lg-3 control-label">
			TYPE:
			</label>
			<div class="col-lg-4">
<select name="type" class="form-control" style="width: 260px;" align="right">
<option[#if TYPE=""#] selected[#endif#]>Please select one
<option[#if TYPE="eQ-3-radiator-thermostat"#] selected[#endif#]>eQ-3-radiator-thermostat
<option[#if TYPE="mi-flora-plant"#] selected[#endif#]>mi-flora-plant
<option[#if TYPE="mi-band-1s"#] selected[#endif#]>mi-band-1s
<option[#if TYPE="mi-band-2"#] selected[#endif#]>mi-band-2
<option[#if TYPE="ble-label"#] selected[#endif#]>ble-label
<option[#if TYPE="mi-kettle"#] selected[#endif#]>mi-kettle
<option[#if TYPE="amazfit-bip"#] selected[#endif#]>amazfit-bip
<option[#if TYPE="amazfit-stratos"#] selected[#endif#]>amazfit-stratos
<option[#if TYPE="xiaomi-smart-thermostat"#] selected[#endif#]>xiaomi-smart-thermostat
<option[#if TYPE="xiaomi-smart-thermostat2"#] selected[#endif#]>xiaomi-smart-thermostat2
<option[#if TYPE="xiaomi-smart-clock"#] selected[#endif#]>xiaomi-smart-clock
<option[#if TYPE="mi-scale"#] selected[#endif#]>mi-scale
<option[#if TYPE="gason-s4"#] selected[#endif#]>gason-s4
<option[#if TYPE="yunmai-se"#] selected[#endif#]>yunmai-se
<option[#if TYPE="redmond-g200s"#] selected[#endif#]>redmond-g200s
	
	
	



</select>

</div>
		</div>
	
	
		<div class="form-group">
			<label class="col-lg-3 control-label">
			Polling (min):
			</label>
			<div class="col-lg-4">
<select name="polling" class="form-control" style="width: 260px;" align="right">
<option[#if POLLING=""#] selected[#endif#]>Off
<option[#if POLLING="5"#] selected[#endif#]>5
<option[#if POLLING="10"#] selected[#endif#]>15
<option[#if POLLING="10"#] selected[#endif#]>10
<option[#if POLLING="30"#] selected[#endif#]>30	
<option[#if POLLING="60"#] selected[#endif#]>60	
<option[#if POLLING="120"#] selected[#endif#]>120

</select>

</div>
		</div>



		<div class="form-group">
			<label class="col-lg-3 control-label">
			MAC:
			</label>
			<div class="col-lg-4">[#MAC#]</div>
		</div>




		<div class="form-group">
			<label class="col-lg-3 control-label">
			VENDOR:
			</label>
			<div class="col-lg-4">[#VENDOR#]</div>
		</div>


<!--
		<div class="form-group">
			<label class="col-lg-3 control-label">
			TYPE:
			</label>
			<div class="col-lg-4"><input type="text" class="form-control" name="type2" value="[#TYPE#]" id="title"></div>
		</div>

-->







		<div class="form-group">
			<label class="col-lg-3 control-label">
			ENABLE:
			</label>
			<div class="col-lg-4">[#ENABLE#]</div>
		</div>



		
		<div class="form-group">
			<div class="col-lg-offset-3 col-lg-4">
				[#if ID!=""#]
				<button type="submit" name="subm" value="Submit" class="btn btn-primary"><#LANG_SUBMIT#></button>
				[#else ID#]
				<button type="submit" name="subm" value="Add" class="btn btn-primary"><#LANG_ADD#></button>
				[#endif ID#]
				<a href="?data_source=<#DATA_SOURCE#>" class="btn btn-default "><#LANG_STRING_BACK#></a>
				<input type="hidden" name="id" value="<#ID#>">
				<input type="hidden" name="view_mode" value="<#VIEW_MODE#>">
				<input type="hidden" name="edit_mode" value="<#EDIT_MODE#>">
				<input type="hidden" name="mode" value="update">
				<input type="hidden" name="data_source" value="<#DATA_SOURCE#>">
				<input type="hidden" name="tab" value="<#TAB#>">
			</div>
		</div>
	</fieldset>
</form>

</td><td>
<img src="../img/modules/[#TYPE#].png" width="400">
</td></tr></table>

