<br/>
<div class="panel-group" id="accordion">
	<div class="panel panel-info">
		<div class="panel-heading">
		<a data-toggle="collapse" data-parent="#accordion" href="#sms_help">Информация</a>
		</div>
		<div class="panel-body collapse" id="sms_help">
		Модуль отправляет магические пакеты Wake On Lan.
При нажатии кнопки Discovery производится запрос arp таблицы и запоминаются доступные данные устройств. По кнопке pingall производитяс 
опрос всей таблицы методом ping. 
<br>
Для того, чтобы отправить пакет WOL, нужно нажать на кнопку с mac-адресом устройства.
			</br>   

	
		</div> </div> </div>

<div class="panel-group" id="accordion">
	<div class="panel panel-info">
		<div class="panel-heading">
		<a data-toggle="collapse" data-parent="#accordion" href="#vizov">Вызов из сценариев</a>
		</div>
		<div class="panel-body collapse" id="vizov">


<code><b>
include_once(DIR_MODULES . 'wol/wol.class.php');<br>
$wake = new wol();<br>
$wake->WakeOnLan('74:d4:35:e4:82:f7');</b></code> <br>
<br><br>			

			</br>     </br>

	
		</div> </div> </div>







<div class="panel-group" id="accordion">
	<div class="panel panel-info">
		<div class="panel-heading">
		<a data-toggle="collapse" data-parent="#accordion" href="#cont">Контактная информация</a>
		</div>
		<div class="panel-body collapse" id="cont">
		<p><b>
<a href="https://github.com/directman66/majordomo-wol" target="_blank">Ссылка на репозиторий</a><br>
<a href="http://majordomo.smartliving.ru/forum/viewtopic.php?f=5&t=5830" target="_blank">Тема на форуме</a>.<br></b></br>
		</div> </div> </div>

<div class="panel-group" id="accordion">
	<div class="panel panel-info">
		<div class="panel-heading">
		<a data-toggle="collapse" data-parent="#accordion" href="#bax">Поддержать разработку</a>
		</div>
		<div class="panel-body collapse" id="bax">

[#inc rekv.html#]

		</div> </div> </div>

                                                                                                         
	
</div>


	
</div>

