<br/>
<div class="panel-group" id="accordion">
	<div class="panel panel-info">
		<div class="panel-heading">
		<a data-toggle="collapse" data-parent="#accordion" href="#sms_help">Информация</a>
		</div>
		<div class="panel-body collapse" id="sms_help">
Модуль для работы с BLE устройствами. Использует утилиты, входящие в комплект Bluez (hcitool, gatttool), поэтому использование возможно только в linux. 
В ubuntu 18.04 данные утилиты поставляются штатно и уже были включены в дистрибутив. В raspbian эти утилиты также предуставновлены. 
Фукционал тестировался с использованием USB стика CSR4 BTD-401 
<a href="https://ru.aliexpress.com/item/Bluetooth-Adapter-V4-0-CSR-Dual-Mode-Wireless-Mini-USB-Bluetooth-Dongle-4-0-Transmitter-For/32817286984.html?spm=a2g0s.9042311.0.0.274233edeKwEac" target="_blank">Ссылка</a><br>


	
		</div> </div> </div>








<div class="panel-group" id="accordion">
	<div class="panel panel-info">
		<div class="panel-heading">
		<a data-toggle="collapse" data-parent="#accordion" href="#cont">Контактная информация</a>
		</div>
		<div class="panel-body collapse" id="cont">
		<p><b>
<a href="https://github.com/directman66/majordomo-bletool" target="_blank">Ссылка на репозиторий</a><br>
<a href="https://majordomo.smartliving.ru/forum/viewtopic.php?f=5&t=5895&p=92564" target="_blank">Тема на форуме</a>.<br></b></br>
		</div> </div> </div>

<div class="panel-group" id="accordion">
	<div class="panel panel-info">
		<div class="panel-heading">
		<a data-toggle="collapse" data-parent="#accordion" href="#bax">Поддержать разработку</a>
		</div>
		<div class="panel-body collapse" id="bax">

[#inc rekv.html#]

		</div> </div> </div>

                                                                                                         
	
</div>


	
</div>

